.contact-us {
  &__info {
    margin-bottom: 24px;
  }

  &__info-title {
    margin-bottom: 8px;

    font-size: 14px;
    line-height: $text-line-height;
  }

  &__info-link {
    font-weight: inherit;
    line-height: $text-line-height;
    color: inherit;

    &:hover {
      font-weight: 500;
    }
  }

  &__field {
    margin-bottom: 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
